<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

     <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "dist/css/application.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div id="wrap">
        <div id="navbar" class="left">
          {{navigation}}
        </div>
        <div id="main-content" class="right">
            {{! Everything else gets inserted here }}
            {{{body}}}
            <a href="javascript:;" class="drawer-toggle"></a>
        </div>
    </div>
    <div class="back-to-top js-back-to-top-btn hidden">
        <i class="fa fa-lg fa-fw fa-arrow-up"></i>
        {{!-- 这里的图标定义成用的fa样式，也可以改成自定义的图片 --}}
    </div>
    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <script src="{{asset "dist/js/application.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>

    {{ghost_foot}}
{{!-- 为 Ghost 添加 Fluidbox Lightbox 图片查看插件达到 Medium 的效果，需要引入 jQuery lib --}}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.4/css/fluidbox.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.4/js/jquery.fluidbox.min.js"></script>
<script>
    $('a').fluidbox({
    });
</script>
<script
goToTop = function() {
    var backToTopButton = $('.js-back-to-top-btn');
    if($(backToTopButton).length) {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $(backToTopButton).removeClass('hidden');
            } else {
                $(backToTopButton).addClass('hidden');
            }
        });
        $(backToTopButton).on('click', function () {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
        });
    }
}
</script>
</body>
</html>
